.body {
  margin-top: 0;
}

.App {
  text-align: center;
  background-image: url("./assets/j-zamora-GWOTvo3qq7U-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  z-index: 0;
  width: 100%;
  min-height: 100vh;
}

.App h1 {
  color: white;
  font-family: "Permanent Marker", cursive;
}

.book img {
  width: 129px;
  height: auto;
}

.alert {
  color: red;
}

.pageNumber {
  color: white;
  font-family: "Permanent Marker", cursive;
  margin-top: 10px;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pagination-container {
  width: 50%;
  margin: 0 auto;
}

.pagination-container button {
  width: 50px;
  margin: 0 10px;
  padding: 0;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 20px;
  justify-content: space-evenly;
}

.book-container {
  width: 20rem;
  padding: 0px calc((100% - (20rem * 4)) / 8) 30px
    calc((100% - (13rem * 4)) / 8);
  display: flex;
  justify-content: center;
}

@media (min-width: 1280px) {
  .book-container {
    width: 13rem;
    padding: 0px calc((100% - (13rem * 4)) / 8) 30px
      calc((100% - (13rem * 4)) / 8);
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1900px) {
  .book-list {
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    height: 85vh;
  }

  .book-container {
    max-width: 16rem;
    padding: 0px calc((100% - (16rem * 4)) / 8) 30px
      calc((100% - (16rem * 4)) / 8);
    display: flex;
  }
}

@media (max-width: 768px) {
  .book-container {
    max-width: 13rem;
    padding: 0px calc((100% - (13rem * 2)) / 4) 30px
      calc((100% - (13rem * 2)) / 4);
    display: flex;
  }
}

@media (max-width: 375px) {
  .book-container {
    max-width: 16rem;
    padding: 0px calc((100% - (13rem * 2)) / 4) 30px
      calc((100% - (13rem * 2)) / 4);
    display: flex;
  }
}
